{% extends 'base.html' %}

{% block body %}
<div class="container my-5">
    <h2 CLASS="text-center">CONTACT US</h2>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">ADD RECOMENDATION OR YOUR EXPERIENCE</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
</div>
{% endblock body %}